.PersonsList {

}

.App button {
    padding: 5px 10px;
    border: 1px solid #555;
}

.Person {
    width: 60%;
    margin: 20px auto;
    border: 1px solid #eee;
    box-shadow: 0 2px 3px #ccc;
    padding: 16px;
    text-align: center;
}

